@import '~antd/dist/antd.css';

.code-box-demo {
    text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
    color: black;
    background: #3ba0e9;
}
.ant-layout-header {
    display: flex;
    align-items: center;
    height: 100px;
}
.ant-layout-footer {
    height: 100px;
    line-height: 1.5;
}
.ant-layout-has-sider {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.ant-layout-sider {
    color: #fff;
    line-height: 120px;
    border-right: 1px solid black;
    background: #7dbcea;
}
.ant-layout-content {
    min-height: 120px;
    color: black;
    line-height: 120px;
    background: white;
}
