@import '~antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
}
.ant-layout {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}
.ant-layout-header,
.ant-layout-footer {
    color: black;
    background: #3ba0e9;
}
.ant-layout-header {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    height: 100px;
}
.ant-layout-footer {
    border-top: 2px solid black;
    width: 100%;
    height: 100px;
    line-height: 1.5;
}
.ant-layout-has-sider {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.ant-layout-sider {
    color: #fff;
    line-height: 20px;
    border-right: 1px solid black;
    background: #7dbcea;
}
.ant-layout-content {
    min-height: 120px;
    color: black;
    line-height: 20px;
    background: #cae2e6bf;
}
