.login__form {
    margin: auto;
    max-width: 300px;
}
.avatar_uploader > .ant_upload {
    width: 128px;
    height: 128px;
}
.profilePage__title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.profilePage__photo {
    margin: auto;
}