.bookstore__navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.navLink {
    font-size: 30px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.navLink:hover {
    color: blue;
}
.imgIcon {
    height: 40px;
    width: 40px;
}

.navLink .active {
    color: black;
}
