.bookstore__search {
    width: 50%;
    text-align: center;
}
.bookstore__input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-color: #3ba0e9;
    border-width: 1px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline-color: #3ba0e9;
    background-color: #b3d4ec;
}

.bookstore__input:focus {
    border: none;
}
